@import url("https://use.typekit.net/opq3ahi.css");
@font-face {
  font-family: 'calligarisitalic';
  src: url("../assets/font/calligaris-italic-webfont.woff2") format("woff2"), url("../assets/font/calligaris-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'calligarisbold_italic';
  src: url("../assets/font/calligaris-italics-bold-webfont.woff2") format("woff2"), url("../assets/font/calligaris-italics-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'calligarisregular';
  src: url("../assets/font/calligaris-regular-webfont.woff2") format("woff2"), url("../assets/font/calligaris-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'calligarisbold';
  src: url("../assets/font/calligaris-bold-webfont.woff2") format("woff2"), url("../assets/font/calligaris-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.section--gallery {
  display: none; }

.total-look {
  position: relative;
  display: flex;
  background: #f6f6f6;
  /*
	&.enter {
		cursor: none;
	}
	*/ }
  .total-look .group--look {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: grab; }
    .total-look .group--look .picture {
      position: absolute;
      opacity: 0;
      transition: opacity ease-in-out 350ms; }
      .total-look .group--look .picture img {
        pointer-events: none; }
    .total-look .group--look .pin {
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer; }
      .total-look .group--look .pin:before {
        content: '';
        display: block;
        position: absolute;
        top: -12px;
        left: -12px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background: #ef3340;
        opacity: 0.4;
        transition: opacity ease-in-out 350ms; }
      .total-look .group--look .pin:hover:before, .total-look .group--look .pin.active:before {
        opacity: 1; }
  .total-look.init .group--look .picture {
    opacity: 1; }
  .total-look.grabbing .group--look {
    cursor: grabbing; }
  .total-look.show-hint .cursor-02,
  .total-look.show-hint .cursor-03 {
    opacity: 1;
    visibility: visible; }
  @media (min-width: 1024px) {
    .total-look {
      height: 768px; }
      .total-look > .group--look,
      .total-look > .listing--products {
        flex: 1 1 50%;
        max-width: 50%;
        overflow: hidden; }
      .total-look .listing--products__inner {
        display: flex;
        flex-wrap: wrap; }
        .total-look .listing--products__inner .card--product {
          height: 384px;
          width: 500px; }
          .total-look .listing--products__inner .card--product .picture {
            width: 100%;
            height: 100%; } }
  @media (max-width: 1023px) {
    .total-look {
      height: 100vw; }
      .total-look > .group--look {
        flex: 1 1 100%;
        max-width: 100%;
        overflow: hidden; }
      .total-look .listing--products {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 500px;
        height: auto;
        max-width: 100%;
        transform: translateX(-50%) translateY(-50%); }
        .total-look .listing--products__inner {
          position: relative;
          width: auto !important;
          height: auto;
          transform: none !important; }
          .total-look .listing--products__inner .card--product {
            width: 500px;
            max-width: 100%; }
            .total-look .listing--products__inner .card--product .picture {
              width: 100%;
              height: 100%; }
      .total-look .card--product {
        display: none; }
      .total-look.open .card--product.active {
        display: block; } }

.card--product {
  position: relative;
  cursor: pointer; }
  .card--product .picture {
    position: relative;
    /*
		img {
			&:first-child {
				mix-blend-mode: multiply;
			}

			&:last-child {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity ease-in-out 350ms;
			}
		}
		*/ }
    .card--product .picture img {
      opacity: 0.6;
      transition: opacity ease-in-out 350ms; }
  .card--product .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease-in-out 350ms; }
    .card--product .content .group--info {
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px 15px 20px;
      font-size: 18px;
      color: #1d1820; }
      .card--product .content .group--info .title,
      .card--product .content .group--info .price,
      .card--product .content .group--info .category,
      .card--product .content .group--info .btn--buy {
        flex: 1 1 50%; }
      .card--product .content .group--info .title {
        font-family: 'calligarisbold';
        font-weight: bold; }
      .card--product .content .group--info .price strong {
        font-family: 'calligarisbold';
        font-weight: bold; }
      .card--product .content .group--info .price {
        text-align: right; }
      .card--product .content .group--info .btn--buy {
        display: block;
        text-align: right; }
        .card--product .content .group--info .btn--buy span {
          display: inline-block;
          position: relative;
          transition: color ease-in-out 250ms; }
          .card--product .content .group--info .btn--buy span:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background: #525459;
            transition: transform ease-in-out 250ms; }
        .card--product .content .group--info .btn--buy span, .card--product .content .group--info .btn--buy:link span {
          font-family: 'calligarisbold';
          font-weight: bold;
          color: #525459;
          font-size: 16px; }
        .card--product .content .group--info .btn--buy:hover span {
          color: #191919; }
          .card--product .content .group--info .btn--buy:hover span:before {
            transform: translateY(3px); }
    .card--product .content .group--cta {
      display: none; }
    .card--product .content:after {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background: #ef3340;
      opacity: 0;
      transition: opacity ease-in-out 350ms; }
  .card--product:hover .picture img, .card--product.active .picture img {
    opacity: 1; }
  .card--product:hover .content, .card--product.active .content {
    opacity: 1; }
  .card--product.active .content:after {
    opacity: 1; }

.cursor-01 {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out 350ms; }
  .cursor-01 .horizontal {
    position: absolute;
    width: 34px;
    height: 39px;
    margin-left: -17px;
    margin-top: -19.5px; }
  .cursor-01 .vertical {
    display: none;
    width: 32px;
    height: 43px;
    margin-left: -16px;
    margin-top: -21.5px; }
  .enter .cursor-01 {
    visibility: visible;
    opacity: 1; }
  .vertical .cursor-01 .horizontal {
    display: none; }
  .vertical .cursor-01 .vertical {
    display: block; }

.cursor-02 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out 350ms; }
  .cursor-02 .horizontal {
    position: absolute;
    width: 34px;
    height: 39px;
    margin-left: -17px;
    margin-top: -19.5px; }
  .cursor-02 .vertical {
    display: none;
    width: 32px;
    height: 43px;
    margin-left: -16px;
    margin-top: -21.5px; }
  .enter .cursor-02 {
    visibility: visible;
    opacity: 1; }
  .vertical .cursor-02 .horizontal {
    display: none; }
  .vertical .cursor-02 .vertical {
    display: block; }

.total-look.vertical .cursor-02 {
  animation: vertical-drag 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 5 alternate both; }

.total-look:not(.vertical) .cursor-02 {
  animation: horizontal-drag 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 5 alternate both; }

.cursor-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out 350ms; }
  .cursor-03 .horizontal,
  .cursor-03 .vertical {
    top: 50%;
    left: 50%; }
  .cursor-03 .horizontal {
    position: absolute;
    width: 34px;
    height: 39px;
    margin-left: -17px;
    margin-top: -19.5px;
    animation: horizontal-drag-rotation 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite alternate both; }
  .cursor-03 .vertical {
    position: absolute;
    display: none;
    width: 32px;
    height: 43px;
    margin-left: -16px;
    margin-top: -21.5px;
    animation: vertical-drag-rotation 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite alternate both; }
  .enter .cursor-03 {
    visibility: visible;
    opacity: 1; }
  .vertical .cursor-03 .horizontal {
    display: none; }
  .vertical .cursor-03 .vertical {
    display: block; }

@keyframes vertical-drag {
  0% {
    transform: translateY(50px); }
  100% {
    transform: translateY(-50px); } }

@keyframes horizontal-drag {
  0% {
    transform: translateX(50px); }
  100% {
    transform: translateX(-50px); } }

@keyframes vertical-drag-rotation {
  0% {
    transform: translateY(50px) rotateZ(10deg); }
  100% {
    transform: translateY(-50px) rotateZ(-10deg); } }

@keyframes horizontal-drag-rotation {
  0% {
    transform: translateX(50px) rotateZ(-10deg); }
  100% {
    transform: translateX(-50px) rotateZ(10deg); } }
