<!-- TOTAL LOOK -->
<section class="section section--total-look">
	<div class="container">
		<div class="tit big">Total look</div>
	</div>
	<div class="total-look" total-look>
		<div class="group--look">
			<div class="picture" ondragstart="return false;">
				<img src="/calligaris-look/assets/img/total-look/horizontal.jpg" />
			</div>
		</div>
		<div class="listing--products">
			<div class="listing--products__inner">
				<div class="card--product" data-item="{ id: 1001, position: { x: 823, y: 451 } }">
					<div class="picture">
						<img src="/calligaris-look/assets/img/total-look/prod-01.jpg" />
						<img src="/calligaris-look/assets/img/total-look/prod-01.jpg" />
					</div>
					<div class="content">
						<div class="group--info">
							<div class="title">ionico</div>
							<div class="price">da <strong>€ 2.109,00</strong></div>
							<div class="category">Vaso</div>
						</div>
						<div class="group--cta">
							<a href="#">cta</a>
						</div>
					</div>
				</div>
				<div class="card--product" data-item="{ id: 1002, position: { x: 592, y: 496 } }">
					<div class="picture">
						<img src="/calligaris-look/assets/img/total-look/prod-02.jpg" />
						<img src="/calligaris-look/assets/img/total-look/prod-02.jpg" />
					</div>
					<div class="content">
						<div class="group--info">
							<div class="title">ionico</div>
							<div class="price">da <strong>€ 2.109,00</strong></div>
							<div class="category">Tovaglia</div>
						</div>
						<div class="group--cta">
							<a href="#">cta</a>
						</div>
					</div>
				</div>
				<div class="card--product" data-item="{ id: 1003, position: { x: 726, y: 518 } }">
					<div class="picture">
						<img src="/calligaris-look/assets/img/total-look/prod-03.jpg" />
						<img src="/calligaris-look/assets/img/total-look/prod-03.jpg" />
					</div>
					<div class="content">
						<div class="group--info">
							<div class="title">ionico</div>
							<div class="price">da <strong>€ 2.109,00</strong></div>
							<div class="category">Tavolo</div>
						</div>
						<div class="group--cta">
							<a href="#">cta</a>
						</div>
					</div>
				</div>
				<div class="card--product" data-item="{ id: 1004, position: { x: 666, y: 482 } }">
					<div class="picture">
						<img src="/calligaris-look/assets/img/total-look/prod-04.jpg" />
						<img src="/calligaris-look/assets/img/total-look/prod-04.jpg" />
					</div>
					<div class="content">
						<div class="group--info">
							<div class="title">ionico</div>
							<div class="price">da <strong>€ 2.109,00</strong></div>
							<div class="category">Piatto</div>
						</div>
						<div class="group--cta">
							<a href="#">cta</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
