@import url("https://use.typekit.net/opq3ahi.css");

@font-face {
	font-family: 'calligarisitalic';
	src: url('../assets/font/calligaris-italic-webfont.woff2') format('woff2'), url('../assets/font/calligaris-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'calligarisbold_italic';
	src: url('../assets/font/calligaris-italics-bold-webfont.woff2') format('woff2'), url('../assets/font/calligaris-italics-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'calligarisregular';
	src: url('../assets/font/calligaris-regular-webfont.woff2') format('woff2'), url('../assets/font/calligaris-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'calligarisbold';
	src: url('../assets/font/calligaris-bold-webfont.woff2') format('woff2'), url('../assets/font/calligaris-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
