@import "fonts";

.section--gallery {
	display: none;
}

.section--total-look {}

.btn--buy {
	display: block;
	text-align: right;

	span {
		display: inline-block;
		position: relative;
		transition: color ease-in-out 250ms;

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -2px;
			width: 100%;
			height: 1px;
			background: #525459;
			transition: transform ease-in-out 250ms;
		}
	}

	&,
	&:link {
		span {
			color: #525459;
		}
	}

	&:hover {
		span {
			color: #191919;

			&:before {
				transform: translateY(3px);
			}
		}
	}
}

.btn--more {
	display: block;
	text-align: right;

	span {
		display: inline-block;
		position: relative;
		font-size: 11px;
		padding: 10px;
	}

	&,
	&:link,
	&:hover,
	&:active,
	&:visited {
		span {
			background: #1d1820;
			color: white;
		}
	}
}

$height: 768px;

.total-look {
	position: relative;
	display: flex;
	background: #f6f6f6;
	font-family: 'calligarisregular';

	.group--look {
		position: relative;
		// background: green;
		-webkit-touch-callout: none;
		user-select: none;
		cursor: grab;

		.picture {
			position: absolute;
			opacity: 0;
			transition: opacity ease-in-out 350ms;

			img {
				pointer-events: none;
			}
		}

		.pin {
			$size: 24px;
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -$size / 2;
				left: -$size / 2;
				width: $size;
				height: $size;
				border-radius: $size / 2;
				background: #ef3340;
				opacity: 0.4;
				transition: opacity ease-in-out 350ms;
			}

			.info {
				display: none;
			}

			&:hover,
			&.active {
				&:before {
					opacity: 1;
				}
			}
		}
	}

	&.init {
		.group--look {
			.picture {
				opacity: 1;
			}
		}
	}

	/*
	&.enter {
		cursor: none;
	}
	*/

	&.grabbing {
		.group--look {
			cursor: grabbing;
		}
	}

	&.show-hint {

		.cursor-02,
		.cursor-03 {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (min-width:1024px) {
		height: $height;

		&>.group--look,
		&>.listing--products {
			flex: 1 1 50%;
			max-width: 50%;
			overflow: hidden;
		}

		.listing--products {
			&__inner {
				display: flex;
				flex-wrap: wrap;

				.card--product {
					height: $height / 2;
					width: $height / 2 / 384 * 500;

					.picture {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.btn--more {
			display: none;
		}

	}

	@media (max-width:1023px) and (orientation: landscape) {
		height: 80vw;
	}

	@media (max-width:1023px) and (orientation: portrait) {
		height: 120vw;
	}

	@media (max-width:1023px) {

		&>.group--look {
			flex: 1 1 100%;
			max-width: 100%;
			overflow: hidden;
		}

		.pin {
			.info {
				position: absolute;
				background: white;
				width: 210px;
				bottom: 25px;
				left: -105px;
				padding: 12px;
				box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.2);

				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -7px;
					margin-left: -5px;
					left: 50%;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7px 5px 0 5px;
					border-color: #ffffff transparent transparent transparent;
				}

				.title,
				.price {
					flex: 1 1 50%;
					min-width: 50%;
				}

				.title {
					font-family: 'calligarisbold';
					font-weight: bold;
					font-size: 15px;
				}

				.price {
					font-size: 12px;
					text-align: right;

					strong {
						font-family: 'calligarisbold';
						font-weight: bold;
						font-size: 14px;
					}
				}

				.category {
					display: none;
				}

				.btn--buy {
					font-size: 12px;
				}
			}

			&.active {
				z-index: 1;

				.info {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}

		.listing--products-01 {
			position: fixed;
			top: 50%;
			left: 50%;
			width: 500px;
			height: auto;
			max-width: 100%;
			transform: translateX(-50%) translateY(-50%);

			.listing--products__inner {
				position: relative;
				width: auto !important;
				height: auto;
				transform: none !important;

				.card--product {
					width: 500px;
					max-width: 100%;

					.picture {
						width: 100%;
						height: 100%;
					}
				}
			}

			.card--product {
				display: none;
			}

			&.open {
				.card--product {
					&.active {
						display: block;
					}
				}
			}
		}

		.btn--more {
			display: block;
			position: absolute;
			bottom: 5px;
			right: 5px;
		}

	}
}

.card--product {
	position: relative;
	cursor: pointer;

	.picture {
		position: relative;

		img {
			opacity: 0.6;
			transition: opacity ease-in-out 350ms;
		}

		/*
		img {
			&:first-child {
				mix-blend-mode: multiply;
			}

			&:last-child {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity ease-in-out 350ms;
			}
		}
		*/
	}

	.content {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity ease-in-out 350ms;

		.group--info {
			display: flex;
			flex-wrap: wrap;
			padding: 0 20px 15px 20px;

			font-size: 18px;
			color: #1d1820;

			.title,
			.price,
			.category,
			.btn--buy {
				flex: 1 1 50%;
			}

			.title {
				font-family: 'calligarisbold';
				font-weight: bold;
			}

			.price {
				strong {
					font-family: 'calligarisbold';
					font-weight: bold;
				}
			}

			.price {
				text-align: right;
			}

			.category {
				// flex: 0 0 100%;
			}

			.btn--buy {
				text-align: right;
				font-size: 16px;
			}
		}

		.group--cta {
			display: none;
		}

		$size: 24px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 20px;
			left: 20px;
			width: $size;
			height: $size;
			border-radius: $size / 2;
			background: #ef3340;
			opacity: 0;
			transition: opacity ease-in-out 350ms;
		}
	}

	&:hover,
	&.active {
		.picture {
			img {
				// &:last-child {
				opacity: 1;
				// }
			}
		}

		.content {
			opacity: 1;
		}
	}

	&.active {
		.content {
			&:after {
				opacity: 1;
			}
		}
	}

}

$hcw: 68px;
$hch: 78px;
$vcw: 64px;
$vch: 86px;
$scale: 0.5;

.cursor-01 {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity ease-in-out 350ms;

	.horizontal {
		position: absolute;
		width: $hcw * $scale;
		height: $hch * $scale;
		margin-left: -$hcw / 2 * $scale;
		margin-top: -$hch / 2 * $scale;
	}

	.vertical {
		display: none;
		width: $vcw * $scale;
		height: $vch * $scale;
		margin-left: -$vcw / 2 * $scale;
		margin-top: -$vch / 2 * $scale;
	}

	.enter & {
		visibility: visible;
		opacity: 1;
	}

	.vertical & {
		.horizontal {
			display: none;
		}

		.vertical {
			display: block;
		}
	}
}

.cursor-02 {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	pointer-events: none;
	transition: opacity ease-in-out 350ms;

	.horizontal {
		position: absolute;
		width: $hcw * $scale;
		height: $hch * $scale;
		margin-left: -$hcw / 2 * $scale;
		margin-top: -$hch / 2 * $scale;
	}

	.vertical {
		display: none;
		width: $vcw * $scale;
		height: $vch * $scale;
		margin-left: -$vcw / 2 * $scale;
		margin-top: -$vch / 2 * $scale;
	}

	.enter & {
		visibility: visible;
		opacity: 1;
	}

	.vertical & {
		.horizontal {
			display: none;
		}

		.vertical {
			display: block;
		}
	}
}

.total-look {
	&.vertical {
		.cursor-02 {
			animation: vertical-drag 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) 5 alternate both;
		}
	}

	&:not(.vertical) {
		.cursor-02 {
			animation: horizontal-drag 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) 5 alternate both;
		}
	}
}

.cursor-03 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
	opacity: 0;
	pointer-events: none;
	transition: opacity ease-in-out 350ms;

	.horizontal,
	.vertical {
		top: 50%;
		left: 50%;
	}

	.horizontal {
		position: absolute;
		width: $hcw * $scale;
		height: $hch * $scale;
		margin-left: -$hcw / 2 * $scale;
		margin-top: -$hch / 2 * $scale;
		animation: horizontal-drag-rotation 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite alternate both;
	}

	.vertical {
		position: absolute;
		display: none;
		width: $vcw * $scale;
		height: $vch * $scale;
		margin-left: -$vcw / 2 * $scale;
		margin-top: -$vch / 2 * $scale;
		animation: vertical-drag-rotation 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite alternate both;
	}

	.enter & {
		visibility: visible;
		opacity: 1;
	}

	.vertical & {
		.horizontal {
			display: none;
		}

		.vertical {
			display: block;
		}
	}
}

@keyframes vertical-drag {
	0% {
		transform: translateY(50px);
	}

	100% {
		transform: translateY(-50px);
	}
}

@keyframes horizontal-drag {
	0% {
		transform: translateX(50px);
	}

	100% {
		transform: translateX(-50px);
	}
}


@keyframes vertical-drag-rotation {
	0% {
		transform: translateY(50px) rotateZ(10deg);
	}

	100% {
		transform: translateY(-50px) rotateZ(-10deg);
	}
}

@keyframes horizontal-drag-rotation {
	0% {
		transform: translateX(50px) rotateZ(-10deg);
	}

	100% {
		transform: translateX(-50px) rotateZ(10deg);
	}
}
