@import "fonts";

.section--gallery {
	display: none;
}

.section--total-look {}

$height: 768px;

.total-look {
	display: flex;
	height: $height;
	background: #f6f6f6;

	&>.group--look,
	&>.listing--products {
		flex: 1 1 50%;
		max-width: 50%;
		overflow: hidden;
	}

	.group--look {
		position: relative;
		// background: green;
		-webkit-touch-callout: none;
		user-select: none;

		.picture {
			position: absolute;
			opacity: 0;
			transition: opacity ease-in-out 350ms;

			img {
				pointer-events: none;
			}
		}

		.pin {
			$size: 24px;
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -$size / 2;
				left: -$size / 2;
				width: $size;
				height: $size;
				border-radius: $size / 2;
				background: #ef3340;
				opacity: 0.4;
				transition: opacity ease-in-out 350ms;
			}

			&:hover,
			&.active {
				&:before {
					opacity: 1;
				}
			}

		}
	}

	&.init {
		.group--look {
			.picture {
				opacity: 1;
			}
		}
	}

	.listing--products {
		&__inner {
			display: flex;
			flex-wrap: wrap;

			width: 1000px;

			.card--product {
				height: $height / 2;
				width: $height / 2 / 384 * 500;

				.picture {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	/*
	&.enter {
		cursor: none;
	}
	*/

	&.show-hint {
		.cursor {
			opacity: 1;
			visibility: visible;
		}
	}
}

.card--product {
	position: relative;
	cursor: pointer;

	.picture {
		position: relative;

		img {
			opacity: 0.6;
			transition: opacity ease-in-out 350ms;
		}

		/*
		img {
			&:first-child {
				mix-blend-mode: multiply;
			}

			&:last-child {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity ease-in-out 350ms;
			}
		}
		*/
	}

	.content {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity ease-in-out 350ms;

		.group--info {
			display: flex;
			flex-wrap: wrap;
			padding: 0 20px 15px 20px;

			font-size: 18px;
			color: #1d1820;

			.title,
			.price,
			.category,
			.btn--buy {
				flex: 1 1 50%;
			}

			.title {
				font-family: 'calligarisbold';
				font-weight: bold;
			}

			.price {
				strong {
					font-family: 'calligarisbold';
					font-weight: bold;
				}
			}

			.price {
				text-align: right;
			}

			.category {
				// flex: 0 0 100%;
			}

			.btn--buy {
				display: block;
				text-align: right;

				span {
					display: inline-block;
					position: relative;
					transition: color ease-in-out 250ms;

					&:before {
						content: '';
						display: block;
						position: absolute;
						bottom: -2px;
						width: 100%;
						height: 1px;
						background: #525459;
						transition: transform ease-in-out 250ms;
					}
				}

				&,
				&:link {
					span {
						font-family: 'calligarisbold';
						font-weight: bold;
						color: #525459;
						font-size: 16px;
					}
				}

				&:hover {
					span {
						color: #191919;

						&:before {
							transform: translateY(3px);
						}
					}
				}
			}
		}

		.group--cta {
			display: none;
		}

		$size: 24px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 20px;
			left: 20px;
			width: $size;
			height: $size;
			border-radius: $size / 2;
			background: #ef3340;
			opacity: 0;
			transition: opacity ease-in-out 350ms;
		}
	}

	&:hover,
	&.active {
		.picture {
			img {
				// &:last-child {
				opacity: 1;
				// }
			}
		}

		.content {
			opacity: 1;
		}
	}

	&.active {
		.content {
			&:after {
				opacity: 1;
			}
		}
	}

}

.cursor {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity ease-in-out 350ms;

	.horizontal {
		position: absolute;
		width: 59px;
		height: 78px;
		margin-left: -29.5px;
		margin-top: -39px;
	}

	.vertical {
		display: none;
		width: 64px;
		height: 86px;
		margin-left: -32px;
		margin-top: -86px;
	}

	.enter & {
		visibility: visible;
		opacity: 1;
	}

	.vertical & {
		.horizontal {
			display: none;
		}

		.vertical {
			display: block;
		}
	}
}

.cursor {
	position: absolute;
	visibility: visible;
	top: 50%;
	left: 50%;
	transform: scale(0.7);
}

.total-look {
	&.vertical {
		.cursor {
			animation: vertical-drag 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) 5 alternate both;
		}
	}

	&:not(.vertical) {
		.cursor {
			animation: horizontal-drag 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) 5 alternate both;
		}
	}
}

@keyframes vertical-drag {
	0% {
		transform: scale(0.7) translateY(50px);
	}

	100% {
		transform: scale(0.7) translateY(-50px);
	}
}

@keyframes horizontal-drag {
	0% {
		transform: scale(0.7) translateX(50px);
	}

	100% {
		transform: scale(0.7) translateX(-50px);
	}
}
